@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*, html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: #1a1920;
  font-weight: bold;
}

.App {
  display: flex;
}

.battle-container {
  background-color: #dfdfdf;
  margin-left: 180px;
  flex: 1;
}

