h1  {
  text-align: center;
  font-style: italic;
  color: #666666;
  margin-bottom: 0;
}

.battle {
  flex: 1;
}

.battle-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #587184;

  .battle-image {
    text-align: center;

    img {
      max-height: 350px;
      border: solid 10px #fff;
    }
  }

  .battle-title {
    color: #fff;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.battle-winners {
  display: grid;
  padding: 20px 20%;
  grid-template-columns: 1fr 1fr 1fr;

  .battle-place {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 3px;
  }

  .battle-second, .battle-first, .battle-third {
    display: flex;
    flex-direction: column;

    .podium {

      img {
        max-height: 100px;
      }
    }
  }

  .battle-first {
    .podium {
      background-color: #D9A441;
    }
  }

  .battle-second {
    margin-top: 80px;
    .battle-place {
      font-size: 28px;
    }

    .podium {
      background-color: #A8A8A8;
    }
  }

  .battle-third {
    margin-top: 120px;

    .podium {
      background-color: #965A38;
    }

    .battle-place {
      font-size: 24px;
    }
  }

  .battle-submission {

    margin: 0 10px;
    .submission-image {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 200px;
        width: auto;
      }
    }
  }

  .podium {
    color: #fff;
    padding: 0 0 30px 0;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #587184 !important;
    flex: 1;
    margin-top: 10px;
    border-right: solid 1px #fcfcfc;

  }

  .battle-third {
    border-right: none;
  }
}

.item-grid {
  display: grid;
  padding: 20px;
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
  grid-auto-rows: 20px;

  @media (max-width: 960px) {
    //grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    //grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .battle-submission {
    grid-column-end: span 1;
  }

}

.full-screen-loading {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}